{% extends "base.html" %}
{% set active_page = "add-meal" %}

{% block head %}
    <script src="/static/js/add-meal.js">
    </script>
{% endblock %}

{% block content %}
    <h1 class="ui header">Current Menu</h1>
    <table class="ui padded table">
        <thead>
        <tr>
            <th>Meal Name</th>
            <th>Cost</th>
            <th>Description</th>
            <th>Remove?</th>
        </tr>
        </thead>
        <tbody>
        {% for meal in session['meals'] %}
            {% if meal['availability'] == true %}
                <tr>
                    <td> {{ meal['mealName'] }}</td>
                    <td>${{ meal['cost'] }}</td>
                    <td> {{ meal['description'] }}</td>
                    <td>
                        <form action="/restaurant/{{ session['restaurant-token'] | safe }}/menu-list/delete">
                            <button class="ui icon button" type="submit" name="mealToken" value="{{ meal['mealToken'] }}">
                                <i class="times icon"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <h1 class="ui header">Add to Menu</h1>
    <form action="/restaurant/{{ session['restaurant-token'] | safe }}/menu-list/add" class="submit ui form">
        <h4 class="ui dividing header">Meal Details</h4>
        <div class="required field">
            <label>Meal Name</label>
            <div class="field">
                <input type="text" name="mealName" placeholder="Meal name">
            </div>
        </div>
        <div class=" required field ">
            <label>Cost</label>
            <div class="fields">
                <input type="text" name="cost" placeholder="Cost">
            </div>
        </div>
        <div class="required field ">
            <label>Description</label>
            <div class="fields">
                <input type="text" name="description" placeholder="Description">
            </div>
        </div>

        <div class="required field ">
            <Label>Availability</Label>
            <select class="ui fluid dropdown" name="availability">
                <option value=true>Available</option>
                <option value=false>Unavailable</option>
            </select>
        </div>

        <button class="ui button" type="submit">Submit</button>
    </form>


{% endblock %}
