<html>
<head>
    <title>{% block title %}MTRA restaurant application{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Semantic UI stuff-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link rel="stylesheet" href="static/css/stylesheet.css"/>
    {% block head %}{% endblock %}
</head>
<!--Based on https://semantic-ui.com/examples/homepage.html-->
<body class="pushable">
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui massive borderless inverted pointing menu">
                <h1 class="header item">
                    MTRA restaurant
                </h1>
                <div class="item right">
                    {% set navigation_bar = [
                    ['/', 'home', 'Home', False],
                    ['/orders', 'orders', 'Orders', True]
                ] -%}
                    <div class="ui massive secondary inverted pointing menu">
                        {% for href, id, caption, loggedin in navigation_bar %}
                            {% if not loggedin or (loggedin and session['logged_in']) %}
                                <a class="item
                                {% if id == active_page %}
                                    active
                                {% endif %}
                                "
                                   href="{{ href|e }}">{{ caption|e }}
                                </a>

                            {% endif %}
                        {% endfor %}
                        {% if session['admin'] %}
                            <a class="item
                                {% if 'create-restaurant' == active_page %}
                                    active
                                {% endif %}
                                "
                               href="/create-restaurant">Create Restaurant
                            </a>
                        {% endif %}
                        <div>
                            {% if not session['logged_in'] %}
                                <div>
                                    <a href="/account/login" class="ui inverted button">Log in</a>
                                    <a href="/account/create-account" class="ui inverted button">Sign
                                        Up</a>
                                </div>
                            {% else %}
                                <div>
                                    <a href="/account/logout">
                                        <button class="ui inverted button">Logout</button>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <a href="/checkout">
                            <i id="cart" class="ui shopping cart icon">{{ session['cart_size'] }}</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block content %}

    {% endblock %}

</div>
</body>
</html>
