{% extends "base.html" %}
{% set active_page = "" %}

{% block head %}
{% endblock %}

{% block content %}

    <div class="ui raised very padded text container segment">

        <h2 class="ui left floated left aligned column header floated">Cart:</h2>
        <br>
        <br>
        <table class="ui very basic table">
            <thead>
            <tr>
                <th>Meal</th>
                <th>Cost</th>
            </tr>
            </thead>
            <tbody>
            {% for meal in session['cart'] %}
                <tr>
                    <td class="ui">{{ meal['name'] }}</td>
                    <td class="ui">$ {{ meal['cost'] }}</td>
                </tr>
            {% endfor %}

            </tbody>

            <tfoot>
            <tr>
                <th><strong class="ui right aligned">Total:</strong></th>
                <th>$ {{ session['cart_cost'] }}</th>
            </tr>
            </tfoot>
        </table>
        {% if (session['cart'] | length) == 0 %}
            <h2 class="ui header">You haven't added anything to your cart yet :(</h2>
            <p>Why don't we change that? <a href="/">Go order</a></p>
        {% else %}
            <form action="/make-order" class="submit">
                <button type="submit" class="ui button secondary">Pay Now!
                </button>
            </form>
        {% endif %}
    </div>

{% endblock %}
