{% extends "base.html" %}
{% set active_page = "account" %}

{% block content %}
    <form action="{{ url_for('user.account_form_validator') }}"
          class="submit ui form {{ session['statuses']['name'] }}
{{ session['statuses']['email'] }} {{ session['statuses']['password'] }} {{ session['statuses']['address'] }}
{{ session['statuses']['payment'] }} {{ session['status'] }}">
        <div class="ui raised very padded text container segment">
            <h2 class="ui dividing header">Create an Account</h2>
            <div class="required field">
                <label>Name</label>
                <div class="field {{ session['statuses']['name'] }}">
                    <div class="field">
                        <input name="name" type="text" placeholder="Full Name">
                    </div>
                </div>
                {% if 'error'|string() == session['statuses']['name']|string() %}
                    <div class="ui error message">
                        <div class="header">Action Forbidden</div>
                        <p>You must provide a name.</p>
                    </div>
                {% endif %}
            </div>
            <div class="required field ">
                <label>Email</label>
                <div class="field {{ session['statuses']['email'] }}">
                    <div class="field">
                        <input type="text" name="email" placeholder="Email Address">
                    </div>
                </div>
                {% if 'error'|string() == session['statuses']['email']|string() %}
                    <div class="ui error message">
                        <div class="header">Action Forbidden</div>
                        <p>You must provide an email.</p>
                    </div>
                {% endif %}
            </div>
            <div class="required field ">
                <label>Password</label>
                <div class="field {{ session['statuses']['password'] }}">
                    <div class="field ">
                        <input type="password" name="password"
                               placeholder="Enter your password">
                    </div>
                </div>
                {% if 'error'|string() == session['statuses']['password']|string() %}
                    <div class="ui error message">
                        <div class="header">Action Forbidden</div>
                        <p>You must provide a password.</p>
                    </div>
                {% endif %}
            </div>
            <div class="required field">
                <label>Address</label>
                <div class="field {{ session['statuses']['address'] }}">
                    <div class="field ">
                        <input type="text" name="address" placeholder="Address">
                    </div>
                </div>
                {% if 'error'|string() == session['statuses']['address']|string() %}
                    <div class="ui error message">
                        <div class="header">Action Forbidden</div>
                        <p>You must provide an address.</p>
                    </div>
                {% endif %}
            </div>
            <div class="required field">
                <label>Payment</label>
                <div class="field {{ session['statuses']['payment'] }}">
                    <select class="ui fluid dropdown" name="payment">
                        <option value="[Select Payment]">[Select Payment]</option>
                        <option value="Cash">Cash</option>
                        <option value="Card">Card</option>
                    </select>
                </div>
                {% if 'error'|string() == session['statuses']['payment']|string() %}
                    <div class="ui error message">
                        <div class="header">Action Forbidden</div>
                        <p>You must select a payment option.</p>
                    </div>
                {% endif %}
            </div>
            <div class="required field">
                <label>Type</label>
                <div class="field">
                    <select class="ui fluid dropdown" name="type">
                        <option value="customer">Customer</option>
                    </select>
                </div>
            </div>
            {% if session['status'] == 'success' %}
                <div class="ui success message">
                    <div class="header">Sign Up Completed</div>
                    <p>You have successfully created an account.</p>
                </div>
            {% endif %}
            {% if session['status'] == 'success' %}
                <div>
                    <a href="/account/login">
                        <button class="ui button" type="button">
                            Login Here
                        </button>
                    </a>
                </div>
            {% else %}
                <div>
                    <button class="ui button" type="submit" formmethod="post">Create Account
                    </button>
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}
