{% extends "base.html" %}
{% set active_page = "create-restaurant" %}

{% block head %}
    <script src="/static/js/create-restaurant.js">
    </script>
{% endblock %}

{% block content %}
    <div class="ui raised very padded text container segment">
        <h2>Restaurant creation</h2>
        <form id="create-restaurant-form" class="submit ui form">
            <div class="required field">
                <label>Name</label>
                <input type="text" id="name" name="name" placeholder="Restaurant Name">
            </div>
            <div class="required field">
                <label>Description</label>
                <input type="text" id="description" name="description"
                       placeholder="What type of food do you make?">
            </div>
            <div class="required field">
                <label>Employees</label>
                <select id="search-select" class="ui fluid search dropdown" multiple="">
                    <option id="users" value="">Select employees</option>
                    {% for user in session['users'] %}
                        <option value="{{ user['user-token'] }}">
                            {{ user['name'] }} ({{ user['email'] }})
                        </option>
                    {% endfor %}
                </select>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
