{% extends "base.html" %}
<div class="ui input focus">
  <input type="text" placeholder="Search...">
</div>
{% set active_page = "home" %}

{% block head %}
{% endblock %}

{% block content %}
    {% for restaurant in session['restaurants'] %}

        <div id="{{ restaurant['menu-token'] }}"
             class="ui raised very padded text container segment">
            <h2 class="ui header">{{ restaurant['name'] }}</h2>
            <a href="/restaurant/{{ restaurant['restaurant-token'] }}">View menu</a>
            <p>{{ restaurant['description'] }}</p>

        </div>

    {% endfor %}
{% endblock %}
