{% extends "base.html" %}
{% set active_page = "inventory" %}

{% block head %}
    <script type="text/javascript">$(document).ready(function () {
        $(".rating").rating();
    });</script>
    <script src="/static/js/cart.js"></script>
{% endblock %}

{% block content %}

    <div class="ui inverted segment">
        <div class="ui inverted secondary pointing menu">
            <a class="item" href=/restaurant/{{ session['restaurant-token'] | safe }}/menu-list/modify>
                Edit Menu
            </a>
        </div>
    </div>

    <table class="ui padded table">
        <thead>
        <tr>
            <th></th>
            <th>Meal Name</th>
            <th>Cost</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for meal in session['meals'] %}
            {% if meal['availability'] == true %}
                <tr>
                    <td>
                        <form class="submit" action="/restaurant/{{ session['restaurant-token'] | safe }}/menu-list/add_to_cart">
                            <button class="ui secondary button" type="submit" name="mealToken" value="{{ meal['mealToken'] }}">
                                Add to cart
                            </button>
                        </form>
                    </td>
                    <td>{{ meal['mealName'] }}</td>
                    <td>${{ meal['cost'] }}</td>
                    <td>{{ meal['description'] }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
