{% extends "base.html" %}
{% set active_page = "account" %}


{% block content %}
    <div class="ui raised very padded text container segment">
        <h2 class="ui dividing header">Login</h2>
        <form id="login-form" class="submit ui form
{{ session['status'] }} {{ session['statuses']['email'] }} {{ session['statuses']['password'] }}">
            <div class="required field">
                <label>Email</label>
                <div class="field {{ session['statuses']['email'] }}">
                    <input type="text" id="email" name="email" placeholder="Enter your email address">
                </div>
                {% if 'error'|string() == session['statuses']['email']|string() %}
                    <div class="ui error message">
                        <div class="header">Action Forbidden</div>
                        <p>You must input an email address.</p>
                    </div>
                {% endif %}
            </div>
            <div class="required field">
                <label>Password</label>
                <div class="field {{ session['statuses']['password'] }}">
                    <input type="password" id="password" name="password" placeholder="Enter your password">
                </div>
                {% if 'error'|string() == session['statuses']['password']|string() %}
                    <div class="ui error message">
                        <div class="header">Action Forbidden</div>
                        <p>You must input a password.</p>
                    </div>
                {% endif %}
            </div>
            {% if session['status'] == 'success' %}
                <div class="ui success message">
                    <div class="header">Login Successful</div>
                    <p>You have successfully logged in.</p>
                </div>
            {% endif %}
            {% if session['status'] == 'success' %}
                <div>
                    <button class="ui button" type="button" onclick="location.href = 'http://0.0.0.0:8081/';">
                        <p>Click here to view</p>
                        <p>Restaurant Menus.</p>
                    </button>
                </div>
            {% else %}
                <div>
                    <button class="ui button" type="submit" formmethod="post">Login</button>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}

