{% extends "base.html" %}
{% set active_page = "orders" %}

{% block head %}
    <script type="text/javascript">$(document).ready(function () {
        $(".rating").rating();
    });</script>
{% endblock %}

{% block content %}
    {% if (session['orders'] | length) == 0 %}
        <div class="ui raised very padded text container segment">
            <h2 class="ui header">You haven't made any orders yet :(</h2>
            <p>Why don't we change that? <a href="/">Go order</a></p>
        </div>
    {% endif %}
    {% for order in session['orders'] %}
        <div class="ui one column grid container">
            <div class="ui relaxed raised floated column segment">
                <div class="ui equal width stackable grid">
                    <h2 class="ui left floated left aligned column header floated">Order:
                        {{ order['order-token'] }}
                    </h2>
                    <div class="ui">
                        <div class="ui mini steps">
                            {% set orderStatus =
                    [['Processed', 'OrderRecieved'],
                    ['Cooking',  'CookingOrder'],
                    ['Waiting for pickup',  'WaitingForPickup'],
                    ['Picked up', 'PickedUp']
                    ] -%}
                            {% set stepStatus = cycler('completed', 'active', 'disabled') -%}
                            {% for stepName, stepValue in orderStatus %}

                                <div
                                        {% if stepValue == order['state'] or stepStatus.current == 'active' %}
                                            {{ '' if stepStatus.next() is not none else '' }}
                                        {% endif %}
                                        class="{{ stepStatus.current }} step">
                                    <div class="content">
                                        <div class="title">{{ stepName }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="ui header column right floated right aligned">
                        <h3>Restaurant: {{ order['restaurant'] }}</h3>
                        <div class="ui rating floated" data-rating="5"></div>
                    </div>
                </div>

                <div class="ui hidden divider"></div>

                <table class="ui very basic table">
                    <thead>
                    <tr>
                        <th>Meal</th>
                        <th>Cost</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for meal in order['meals'] %}
                        <tr>
                            <td class="ui">{{ meal['name'] }}</td>
                            <td class="ui">$ {{ meal['cost'] }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>

                    <tfoot>
                    <tr>
                        <th><strong class="ui right aligned">Total:</strong></th>
                        <th>$ {{ order['total_cost'] }}</th>
                    </tr>
                    </tfoot>
                </table>

                <div class="ui hidden divider"></div>
            </div>
        </div>
        <div class="ui hidden section divider"></div>
    {% endfor %}

{% endblock %}
